[submodule "externals/Catch"]
	path = externals/Catch
	url = https://github.com/philsquared/Catch.git

[submodule "externals/nts-examples"]
	path = externals/nts-examples
	url = git@github.com:h0nzZik/nts-examples.git

[submodule "libNTS"]
	path = libNTS
	url = git@github.com:h0nzZik/libNTS_cpp.git
[submodule "externals/named-operator"]
	path = externals/named-operator
	url = https://github.com/klmr/named-operator.git
